@import 'tale/variables';
@import 'tale/base';
@import 'tale/code';
@import 'tale/post';
@import 'tale/syntax';
@import 'tale/layout';
@import 'tale/pagination';
@import 'tale/catalogue';
@import 'tale/404';
@import 'tale/tags';

hr {
    border-top: 0.3rem solid #353535;
    display: block;
    margin: 3rem auto;
    width: 19rem;
}